<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Voice comments</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="headerContainer">
                <menu class="menu">
                    <menuitem class="menuItem"><a href="/">HOME</a></menuitem>
                    <menuitem class="menuItem"><a href="/task/">TASKS</a></menuitem>
                    <menuitem class="menuItem">VARIANTS</menuitem>
                    <menuitem class="menuItem">ABOUT US</menuitem>
                </menu>
                <div class="account">GUEST</div>
            </div>
        </header>
        <div class="wrapper">
            <main class="main">
                <div class="leftSide">
                    <div class="title">новые варианты</div>
                </div>
                <div class="rightSide">
                    <div class="button">варианты</div>
                    <a  href="/task/" class="button">задания</a>
                </div>
            </main>
        </div>
        <footer class="footer">copyright© 2022</footer>
    </div>
</body>
</html>