<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Voice comments</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="headerContainer">
                <menu class="menu">
                    <menuitem class="menuItem"><a href="/">HOME</a></menuitem>
                    <menuitem class="menuItem"><a href="/task/">TASKS</a></menuitem>
                    <menuitem class="menuItem">VARIANTS</menuitem>
                    <menuitem class="menuItem">ABOUT US</menuitem>
                </menu>
                <div class="account">GUEST</div>
            </div>
        </header>
        <div class="wrapper">
            <main class="main">
                <article class="article">
                    <div class="articleTitle">MY FAVORITE ARTSIST</div>
                    <div class="text">
                        <p>
                            I have many favourite artists. Among them are writers, painters and musicians. When I have free time I often read my favourite books or listen to my favourite music. When I have a spare day, I sometimes visit Kiev Museum of Russian Art. I like the museum, for there are many masterpieces there. But the most interesting works for me are the paintings by Ivan Aivazovsky.
                        </p>
                        <p>
                             Ivan Aivazovsky was born and died in Theodosia. As he studied and lived in Russia for some time, he is considered to be a Russian painter. He studied at the Academy of Arts in St. Petersburg Ivan Aivazovsky was a painter of seascapes. Aivazovsky produced about 6,000 paintings, depicting mainly scenes on the Black Sea and turbulent seascapes, including The Ninth Wave Black Sea, Amid the Waves, Flood i Sudak, and Storm. He also painted sea battles (such as Siege of Sevastopol) and Ukrainian landscapes (Harvest in Ukraine, Winter Scene in Ukraine, Wedding in Ukraine, O
                        </p>
                    </div>
                </article>
                <div class="answer" id="answer"></div>
            </main>
            <div id="control"></div>
            <button class="recordButton" id="record">Запись</button>
        </div>
        <footer class="footer">copyright© 2022</footer>
    </div>
    <script src="../static/voice.js"></script>
</body>
</html>