body, html, menu, article  {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 16px 0 0 0;
    text-align: center;
}

.header {
    width: 100%;
    padding-bottom: 16px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.headerContainer {
    display: flex;
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
}

.menuItem a{
    color: #000000;
    outline: none;
    text-decoration: none;
 }

.menuItem a:hover {
    text-decoration: underline;
}

.menuItem {
    padding-left: 32px;
    font-weight: 300;
    font-size: 36px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #C4C4C4;
    color: #ffffff
}

.wrapper {
    padding: 80px 20px 0 20px;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftSide {
    position: relative;
    left: 0;
    width: 600px;
    height: 530px;
}

.leftSide:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: content-box url('../static/images/image1.png') no-repeat 50% 50%;
    background-size: contain;
    z-index: 2;
}

.leftSide:after {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    right: -16px;
    width: 594px;
    height: 514px;
    border: 3px solid #EA5454;
    z-index: 1;
}

.title {
    position: absolute;
    top: 60px;
    right: 30px;
    width: 455px;
    height: 112px;
    background-color: #EB5757;
    color: #ffffff;
    font-weight: 500;
    font-size: 48px;
    line-height: 112px;
    z-index: 3;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 524px;
    height: 142px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    color: #000000;
    font-size: 40px;
    margin-bottom: 80px;
    outline: none;
    text-decoration: none;
}
.button:hover {
    background: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.55);
}

.footer {
    margin-top: 40px;
    background: #C4C4C4;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    height: 40px;
}

.article {
    width: 50%;
    text-align: left;
    font-size: 24px;
    line-height: 1.4em;
}

.articleTitle {
    font-size: 36px;
    line-height: 49px;
}

.answer {
    width: 50%;
    font-size: 24px;
    line-height: 1.4em;
}

.recordButton {
    position: relative;
    width: 234px;
    height: 86px;
    background: #EB5757;
    color: #ffffff;
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 86px;
    cursor: pointer;
}

.recordButton.buttonClicked:after {
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    right: -56px;
    width: 22px;
    height: 22px;
    background: #EB5757;
    border: 4px solid rgba(235, 87, 87, 0.5);
    border-radius: 50%;
}